<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>SignUpFlow_Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ScrollingWindow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ClickingOnGettingStartedButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnteringConfiemPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnteringOrganization</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ClickingCheckBox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SwitchingIframe</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ClickingOnSignupButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnteringWorkEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ClickingOnVerificationEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ClickingOnSignupButtonn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnteringLastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ClickingOnVerificationLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnteringYopmailEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnteringFirstName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LaunchingYopmailBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SwitchingWindow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ClickingYopmailnterButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnteringNewPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
