<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:45</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SignUpFlow_Test.LanchingBrowser()[pri:0, instance:SignUpFlow_Test@68702e03]">&gt;&gt;LanchingBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:48</td>   <td>2842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.ClickingOnGettingStartedButton()[pri:1, instance:SignUpFlow_Test@68702e03]">ClickingOnGettingStartedButton</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:48</td>   <td>2981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.SwitchingWindow()[pri:2, instance:SignUpFlow_Test@68702e03]">SwitchingWindow</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:48</td>   <td>3117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.ClickingOnSignupButton()[pri:3, instance:SignUpFlow_Test@68702e03]">ClickingOnSignupButton</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:49</td>   <td>3684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.EnteringFirstName()[pri:4, instance:SignUpFlow_Test@68702e03]">EnteringFirstName</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:49</td>   <td>3915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.EnteringLastName()[pri:5, instance:SignUpFlow_Test@68702e03]">EnteringLastName</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:49</td>   <td>4044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.EnteringWorkEmail()[pri:6, instance:SignUpFlow_Test@68702e03]">EnteringWorkEmail</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:49</td>   <td>4274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.EnteringOrganization()[pri:7, instance:SignUpFlow_Test@68702e03]">EnteringOrganization</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:49</td>   <td>4426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.ScrollingWindow()[pri:8, instance:SignUpFlow_Test@68702e03]">ScrollingWindow</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:51</td>   <td>6441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.EnteringNewPassword()[pri:9, instance:SignUpFlow_Test@68702e03]">EnteringNewPassword</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:52</td>   <td>6569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.EnteringConfiemPassword()[pri:10, instance:SignUpFlow_Test@68702e03]">EnteringConfiemPassword</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:52</td>   <td>6704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.ClickingCheckBox()[pri:11, instance:SignUpFlow_Test@68702e03]">ClickingCheckBox</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:52</td>   <td>6795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.ClickingOnSignupButtonn()[pri:12, instance:SignUpFlow_Test@68702e03]">ClickingOnSignupButtonn</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:52</td>   <td>6877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.LaunchingYopmailBrowser()[pri:13, instance:SignUpFlow_Test@68702e03]">LaunchingYopmailBrowser</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:58</td>   <td>12748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.EnteringYopmailEmail()[pri:14, instance:SignUpFlow_Test@68702e03]">EnteringYopmailEmail</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:42:58</td>   <td>12903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.ClickingYopmailnterButton()[pri:15, instance:SignUpFlow_Test@68702e03]">ClickingYopmailnterButton</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:43:01</td>   <td>15759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.ClickingOnVerificationEmail()[pri:16, instance:SignUpFlow_Test@68702e03]">ClickingOnVerificationEmail</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:43:31</td>   <td>45798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.SwitchingIframe()[pri:17, instance:SignUpFlow_Test@68702e03]">SwitchingIframe</td> 
  <td>main@1560702077</td>   <td></td> </tr>
<tr bgcolor="74f185">  <td>23/06/28 00:43:31</td>   <td>45857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow_Test.ClickingOnVerificationLink()[pri:18, instance:SignUpFlow_Test@68702e03]">ClickingOnVerificationLink</td> 
  <td>main@1560702077</td>   <td></td> </tr>
</table>
